lib/assets/01-schema-work-in-progress/huon-schema.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:svg="http://www.w3.org/2000/svg"
  xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns="http://www.tei-c.org/ns/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>ODD Schema for Huon d'Auvergne transriptions (B, T, P, Br)</title>
        <author>Stephen P. McCormick</author>
      </titleStmt>
      <publicationStmt>
        <p>Freely available</p>
      </publicationStmt>
      <sourceDesc>
        <p>Written from scratch</p>
      </sourceDesc>
    </fileDesc>
    <revisionDesc>
      <change when="2017-11-12" who="#SPM">ODD file created</change>
      <change when="2017-11-21" who="#SPM"/>
    </revisionDesc>
  </teiHeader>
  <text>
    <body>
      <p>This customized schema is used to validate the digital transcriptions of the four
        Franco-Italian manuscripts of <hi>Huon d'Auvergne</hi> and the accompanying English
        translation of the Berlin witness, all of which are marked up in TEI.</p>

      <schemaSpec ident="huon-schema" docLang="en" prefix="tei_" xml:lang="en" start="TEI">

        <!-- 1. MODULE SPECIFICATIONS -->

        <!-- 1.1 ANALYSIS -->
        <moduleRef key="analysis" include="span"/>

        <!-- 1.2 CERTAINTY -->
        <moduleRef key="certainty" include="certainty"/>

        <!-- 1.3 CORE -->
        <moduleRef key="core"
          include="abbr add addrLine address 
          bibl cb choice cit corr date del divGen editor email gap gb gloss
          head hi l lg milestone name note nump postCode pubPlace publisher
          q resp respStmt sic street teiCorpus term textLang time title unclear"/>

        <!-- 1.4 HEADER -->
        <moduleRef key="header"
          include="abstract availability bibFull change 
          correction edition editionStmt editorialDecl encodingDesc extent 
          fileDesc funder geoDecl handNote idno interpretation keywords 
          langUsage language namespace notesStmt principal profileDesc 
          projectDesc publicationStmt revisionDesc schemaRef segmentation 
          seriesStmt sourceDesc sponsor tagUsage tagsDecl TEIheader titleStmt
          xenoData"/>

        <!-- 1.5 LINKING -->
        <moduleRef key="linking" include="anchor seg"/>

        <!-- 1.6 MSDESCRIPTION -->
        <moduleRef key="msdescription"
          include="accMat acquisition additions 
          altIdentifier binding bindingDesc catchwords collation colophon 
          condition custEvent custodialHist decoDesc decoNote depth dimensions 
          explicit finalRubric foliation handDesc height heraldry incipit 
          layout layoutDesc locus material msContents msDesc msFrag msIdentifier 
          msName origDate origPlace origin physDesc provenance repository 
          rubric scriptDesc stamp support supportDesc surrogates watermark width"/>

        <!-- 1.7 NAMESDATES -->
        <moduleRef key="namesdates"
          include="country geo geogFeat geogName persName
          persona place placeName settlement"/>

        <!-- 1.8 TEI -->
        <moduleRef key="tei"
          include="abstract availability biblFull change correction 
          edition editionStmt editorialDecl encodingDesc extent fileDesc 
          funder geoDecl handNote idno interpretation keywords langUsage 
          language namespace notesStmt principal profileDesc publicationStmt 
          punctuation quotation revisionDesc schemaRef"/>

        <!-- 1.9 TEXTCRIT -->
        <moduleRef key="textcrit"
          include="app lacunaEnd lacunaStart listWit
          rdg rdgGrp wit witDetail witEnd witStart witness"/>

        <!-- 1.10 TEXTSTRUCTURE -->
        <moduleRef key="textstructure"
          include="TEI arguement back body byline closer dateline div div1 
          div2 div3 div4 div5 div6 div7 docAuthor docDate docEdition 
          docImprint docTitle epigraph floatingText front group imprimatur 
          opener postscript salute signed text titlePage titlePart trailer"/>

        <!-- 1.11 TRANSCR -->
        <moduleRef key="transcr"
          include="addSpan damage damageSpan delSpan ex
          handNotes handShift redo surplus"/>

        <!-- 1.11 VERSE -->
        <moduleRef key="verse" include="caesura rhyme"/>

        <!-- II. ELEMENT SPECIFICATIONS -->

        <!-- add EDIT (P:667) -->
        <!-- anchor EDIT -->
        <!-- choice EDIT -->
        <!-- corr EDIT @cert @resp -->
        <!-- del EDIT -->
        <!-- ex EDIT -->
        <!-- lacunaEnd EDIT -->
        <!-- lacunaStart EDIT -->
        <!-- persName EDIT -->
        <!-- placeBame EDIT -->
        <!-- q EDIT -->
        <!-- name EDIT -->
        <!-- num EDIT -->
        <!-- seg EDIT -->
        <!-- sic EDIT -->
        <!-- title EDIT -->

        <!-- gap EDIT -->
        <elementSpec ident="gap">
          <desc>Identifies missing folios in manuscript witnesses.</desc>
          <attList>
            <attDef ident="reason" mode="change">
              <defaultVal>missing-folio</defaultVal>
            </attDef>
            <attDef ident="quantity" usage="req" mode="add">
              <!-- numerical value -->
            </attDef>
          </attList>
        </elementSpec>

        <!-- head -->
        <elementSpec ident="head" mode="change" module="core">
          <attList>
            <attDef ident="ana" mode="delete"/>
            <attDef ident="cert" mode="delete"/>
            <attDef ident="change" mode="delete"/>
            <attDef ident="copyOf" mode="delete"/>
            <attDef ident="corresp" mode="delete"/>
            <attDef ident="exclude" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
            <attDef ident="hand" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="next" mode="delete"/>
            <attDef ident="prev" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="rendition" mode="delete"/>
            <attDef ident="resp" mode="delete"/>
            <attDef ident="sameAs" mode="delete"/>
            <attDef ident="select" mode="delete"/>
            <attDef ident="source" mode="delete"/>
            <attDef ident="style" mode="delete"/>
            <attDef ident="subtype" mode="delete"/>
            <attDef ident="synch" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
            <attDef ident="xml:id" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="xml:space" mode="delete"/>
            <attDef ident="type" mode="change" usage="opt">
              <defaultVal>msHeading</defaultVal>
            </attDef>
          </attList>
        </elementSpec>

        <!-- hi -->
        <elementSpec ident="hi" module="core" mode="change">
          <desc>In the Huon edition files, <gi>hi</gi> describes the decoration hierarchy of initial
            letters at the start of each laisse. In the note and commentary files, <gi>hi</gi>
            italicizes words, phrases, textual examples, titles, and other bibliographic
            information.</desc>
          <attList>
            <attDef ident="ana" mode="delete"/>
            <attDef ident="cert" mode="delete"/>
            <attDef ident="change" mode="delete"/>
            <attDef ident="copyOf" mode="delete"/>
            <attDef ident="corresp" mode="delete"/>
            <attDef ident="exclude" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
            <attDef ident="hand" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="next" mode="delete"/>
            <attDef ident="prev" mode="delete"/>
            <attDef ident="rendition" mode="delete"/>
            <attDef ident="resp" mode="delete"/>
            <attDef ident="sameAs" mode="delete"/>
            <attDef ident="select" mode="delete"/>
            <attDef ident="source" mode="delete"/>
            <attDef ident="style" mode="delete"/>
            <attDef ident="synch" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
            <attDef ident="xml:id" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="xml:space" mode="delete"/>
            <attDef ident="rend" usage="req" mode="change">
              <valList type="closed" mode="replace">
                <valItem ident="black-initial">
                  <desc>Describes black initials at laisse beginnings in Huon manuscirpts.</desc>
                </valItem>
                <valItem ident=" blue-initial">
                  <desc>Describes blue initials at laisse beginnings in Huon manuscirpts.</desc>
                </valItem>
                <valItem ident=" bold">
                  <desc>Renders in bold Latin citations occuring within the text body.</desc>
                </valItem>
                <valItem ident=" italic">
                  <desc>Renders in italic words, phrases, and titles that occur in metadeta, notes,
                    and documentation.</desc>
                </valItem>
                <valItem ident=" noitalic">
                  <desc>Renders non italic words or phrases that occur within a textual context that
                    is italicized.</desc>
                </valItem>
                <valItem ident=" red-initial">
                  <desc>Describes red initials at laisse beginnings in Huon manuscirpts.</desc>
                </valItem>
                <valItem ident=" strike">
                  <desc>Describes scribal error protocal in which words or phrases are struck
                    through.</desc>
                </valItem>
                <valItem ident=" super">
                  <desc>Renders characters in superscript, most often occuring in roman numerals
                    within the text.</desc>
                </valItem>
                <valItem ident=" red-corr">
                  <desc>Describes scribal error protocal in which words or phrases are corrected in
                    red.</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>

        <!-- l -->
        <elementSpec ident="l" module="core" mode="change">
          <desc>The <gi>l</gi> tag wraps around each individual line of verse.</desc>
          <attList>
            <attDef ident="ana" mode="delete"/>
            <attDef ident="cert" mode="delete"/>
            <attDef ident="change" mode="delete"/>
            <attDef ident="copyOf" mode="delete"/>
            <attDef ident="corresp" mode="delete"/>
            <attDef ident="enjamb" mode="delete"/>
            <attDef ident="exclude" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
            <attDef ident="met" mode="delete"/>
            <attDef ident="next" mode="delete"/>
            <attDef ident="part" mode="delete"/>
            <attDef ident="prev" mode="delete"/>
            <attDef ident="real" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="rendition" mode="delete"/>
            <attDef ident="resp" mode="delete"/>
            <attDef ident="rhyme" mode="delete"/>
            <attDef ident="sameAs" mode="delete"/>
            <attDef ident="select" mode="delete"/>
            <attDef ident="source" mode="delete"/>
            <attDef ident="style" mode="delete"/>
            <attDef ident="synch" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
            <attDef ident="xml:id" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="xml:space" mode="delete"/>
            <attDef ident="n" mode="change" usage="req">
              <desc>Assigns line numbers to each verse.</desc>
            </attDef>
          </attList>
        </elementSpec>

        <!-- lg -->
        <elementSpec ident="lg" module="core" mode="change">
          <desc>The <gi>lg</gi> element wraps around individual narrative segments: each laisse (in
            the case of manuscripts B, T, P, and Br), each ottava (in the case of manuscript V), or
            each chapter (in Andrea da Barberino's prose rewritings).</desc>
          <attList>
            <attDef ident="ana" mode="delete"/>
            <attDef ident="cert" mode="delete"/>
            <attDef ident="change" mode="delete"/>
            <attDef ident="copyOf" mode="delete"/>
            <attDef ident="corresp" mode="delete"/>
            <attDef ident="decls" mode="delete"/>
            <attDef ident="exclude" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
            <attDef ident="met" mode="delete"/>
            <attDef ident="next" mode="delete"/>
            <attDef ident="org" mode="delete"/>
            <attDef ident="part" mode="delete"/>
            <attDef ident="prev" mode="delete"/>
            <attDef ident="real" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="rendition" mode="delete"/>
            <attDef ident="resp" mode="delete"/>
            <attDef ident="rhyme" mode="delete"/>
            <attDef ident="sameAs" mode="delete"/>
            <attDef ident="sample" mode="delete"/>
            <attDef ident="select" mode="delete"/>
            <attDef ident="source" mode="delete"/>
            <attDef ident="style" mode="delete"/>
            <attDef ident="subtype" mode="delete"/>
            <attDef ident="synch" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
            <attDef ident="xml:id" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="xml:space" mode="delete"/>
            <attDef ident="type" mode="change" usage="req">
              <valList type="closed" mode="replace">
                <valItem ident="laisse">
                  <desc>Identifies individual laisses in the Franco-Italian manuscripts (B, T, P,
                    Br).</desc>
                </valItem>
                <valItem ident=" ottava">
                  <desc>Identifies individual ottave in Michelagnolo da Volterra rewritting
                    (V).</desc>
                </valItem>
                <valItem ident=" chapter">
                  <desc>Identifies individual chapters in Andrea da Barberino's prose
                    writting.</desc>
                </valItem>
              </valList>
            </attDef>
            <attDef ident="n" mode="change" usage="req"/>
            <!-- 1.3.1.1.1 there is no requirement to record a value for either the xml:id or the n attribute -->
          </attList>
        </elementSpec>

        <!-- note -->
        <elementSpec ident="note" module="core" mode="change">
          <desc>The <gi>note</gi> element is used either to anchor the apparatus to the base edition
            or to create a note in external apparatus files (named "notes-" + "MS sigla" + .xml, as
            in notes-b.xml). The <gi>note</gi> element in the edition files must contain the
              <att>xml:id</att> attribute. In the external apparatus file, notes must contain three
            attributes: <att>xml:id</att> to link it to the anchor in the base edition;
              <att>type</att> to specify the nature of the note; and <att>resp</att> to indicate the
            editor who wrote the note. The <att>type</att> attribute must be assigned to one of five
            categories: codicological, interpretative, linguistic, referential, and
            bibliographic.</desc>
          <attList>
            <attDef ident="ana" mode="delete"/>
            <attDef ident="anchored" mode="delete"/>
            <attDef ident="cert" mode="delete"/>
            <attDef ident="change" mode="delete"/>
            <attDef ident="copyOf" mode="delete"/>
            <attDef ident="corresp" mode="delete"/>
            <attDef ident="evaluate" mode="delete"/>
            <attDef ident="exclude" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
            <attDef ident="hand" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="next" mode="delete"/>
            <attDef ident="place" mode="delete"/>
            <attDef ident="prev" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="rendition" mode="delete"/>
            <attDef ident="sameAs" mode="delete"/>
            <attDef ident="select" mode="delete"/>
            <attDef ident="source" mode="delete"/>
            <attDef ident="style" mode="delete"/>
            <attDef ident="subtype" mode="delete"/>
            <attDef ident="synch" mode="delete"/>
            <attDef ident="target" mode="delete"/>
            <attDef ident="targetEnd" mode="delete"/>
            <attDef ident="targetLang" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="xml:space" mode="delete"/>
            <attDef ident="resp" mode="change" usage="rec">
              <desc>The <att>resp</att> attribute identifies a note's author and may only be used in
                the external apparatus files.</desc>
              <valList type="closed" mode="replace">
                <valItem ident="#LZM">
                  <desc>Notes authored by Leslie Zarker Morgan.</desc>
                </valItem>
                <valItem ident=" #SPM">
                  <desc>Notes authored by Stephen P. McCormick.</desc>
                </valItem>
                <valItem ident=" #SSB">
                  <desc>Notes authored by Shira Schwam-Baird.</desc>
                </valItem>
                <valItem ident=" #JVC">
                  <desc>Notes authored by Jean-Claude Vallecalle.</desc>
                </valItem>
                <valItem ident=" #AB">
                  <desc>Notes authored by Alan Bernstein.</desc>
                </valItem>
              </valList>
            </attDef>
            <attDef ident="type" mode="change" usage="rec">
              <desc>The <att>type</att> attribute may only be used in the external apparatus
                files.</desc>
              <valList type="closed" mode="replace">
                <valItem ident="edit">
                  <desc>A note of this type describes editorial intervention or activity.</desc>
                </valItem>
                <valItem ident=" interp">
                  <desc>A note of this type offers interpretative information, contextualizing a
                    literary or historical reference.</desc>
                </valItem>
                <valItem ident=" ling">
                  <desc>A note of this type clarifies the linguistic nature of a word or
                    phrase.</desc>
                </valItem>
                <valItem ident=" codic">
                  <desc>A note of this type highlights or clarifies information related to the
                    physical context in which the text occurs (i.e. the manuscript, the binding,
                    etc.)</desc>
                </valItem>
                <valItem ident=" refer">
                  <desc>A note of this type refers to similar or variant readings in other
                    manuscripts and other textual traditions.</desc>
                </valItem>
                <valItem ident=" biblio">
                  <desc>A note of this type details bibliographic information of related scholarly
                    work or modern editions.</desc>
                </valItem>
              </valList>
            </attDef>
            <attDef ident="xml:id" mode="change" usage="rec">
              <desc>The <att>xml:id</att> attribute must be used in the base edition files to anchor
                the note or commentary and in the external apparatus files to link content to the
                anchor in the edition file. Each note's <att>xml:id</att> attribute is assigned a
                unique identifier that states the manuscript sigla and the verse number (ex. p2113).
                If there are multiple notes in one line of verse, .1, .2, etc. is added to the
                identifier (ex. p2113.1 and p2113.2)</desc>
            </attDef>
          </attList>
        </elementSpec>

      </schemaSpec>
    </body>
  </text>
</TEI>
