lib/assets/huon_customization.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:svg="http://www.w3.org/2000/svg"
  xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns="http://www.tei-c.org/ns/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>ODD Schema for Huon d'Auvergne transriptions (B, T, P, Br)</title>
        <author>Stephen P. McCormick</author>
      </titleStmt>
      <publicationStmt>
        <p>Freely available</p>
      </publicationStmt>
      <sourceDesc>
        <p>Written from scratch</p>
      </sourceDesc>
    </fileDesc>
    <revisionDesc>
      <change when="2017-11-12" who="#SPM">ODD file created</change>
      <change when="2017-11-21" who="#SPM"></change>
    </revisionDesc>
  </teiHeader>
  <text>
    <body>
      <p>This customized schema is used to validate the digital transcriptions of the 
        four Franco-Italian manuscripts of <hi>Huon d'Auvergne</hi> and the accompanying 
        English translation of the Berlin witness, all of which are marked up in TEI.</p>
      
      <schemaSpec ident="oddex1" start="TEI">
        
<!-- ANALYSIS -->
        <moduleRef key="analysis" include="span"/>
        
<!-- CERTAINTY -->
        <moduleRef key="certainty" include="certainty"/>
        
<!-- CORE -->
        <moduleRef key="core" include="abbr add addrLine address 
          bibl cb choice cit corr date del divGen editor email gap gb gloss
          head hi l lg milestone name note nump postCode pubPlace publisher
          q resp respStmt sic street teiCorpus term textLang time title unclear"/>
        
<!-- HEADER -->
        <moduleRef key="header" include="abstract availability bibFull change 
          correction edition editionStmt editorialDecl encodingDesc extent 
          fileDesc funder geoDecl handNote idno interpretation keywords 
          langUsage language namespace notesStmt principal profileDesc 
          projectDesc publicationStmt revisionDesc schemaRef segmentation 
          seriesStmt sourceDesc sponsor tagUsage tagsDecl TEIheader titleStmt
          xenoData"></moduleRef>
        
<!-- LINKING -->
        <moduleRef key="linking" include="anchor seg"></moduleRef>
        <elementSpec ident="anchor" mode="change" module="linking">
          <attList>
            <attDef ident="n" mode="replace">
              <datatype></datatype>
              <valList type="open"></valList>
            </attDef>
            <attDef ident="resp" mode="replace">
              <datatype></datatype>
              <valList type="closed">
                <valItem ident="Rajna"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
<!-- MSDESCRIPTION -->
        <moduleRef key="msdescription" include="accMat acquisition additions 
          altIdentifier binding bindingDesc catchwords collation colophon 
          condition custEvent custodialHist decoDesc decoNote depth dimensions 
          explicit finalRubric foliation handDesc height heraldry incipit 
          layout layoutDesc locus material msContents msDesc msFrag msIdentifier 
          msName origDate origPlace origin physDesc provenance repository 
          rubric scriptDesc stamp support supportDesc surrogates watermark width"/>
        
<!-- NAMESDATES -->
        <moduleRef key="namesdates" include="country geo geogFeat geogName persName
          persona place placeName settlement"/>
        
<!-- TEI -->
        <moduleRef key="tei"
          include="abstract availability biblFull change correction 
          edition editionStmt editorialDecl encodingDesc extent fileDesc 
          funder geoDecl handNote idno interpretation keywords langUsage 
          language namespace notesStmt principal profileDesc publicationStmt 
          punctuation quotation revisionDesc schemaRef"/>
        
<!-- TEXTCRIT -->
        <moduleRef key="textcrit" include="app lacunaEnd lacunaStart listWit
          rdg rdgGrp wit witDetail witEnd witStart witness"/>
        
<!-- TEXTSTRUCTURE -->
        <moduleRef key="textstructure"
          include="TEI arguement back body byline closer dateline div div1 
          div2 div3 div4 div5 div6 div7 docAuthor docDate docEdition 
          docImprint docTitle epigraph floatingText front group imprimatur 
          opener postscript salute signed text titlePage titlePart trailer"/>
        
<!-- TRANSCR -->
        <moduleRef key="transcr" include="addSpan damage damageSpan delSpan ex
          handNotes handShift redo surplus"/>
        
<!-- VERSE -->
        <moduleRef key="verse" include="caesura rhyme"/>
        
<!-- ATTRIBUTE CUSTOMIZATION -->
        
<!-- template
        <elementSpec ident="">
          <attList>
            <attDef ident="">
              <defaultVal></defaultVal>
              <valList>
                <valItem ident=""></valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
-->
        
<!-- CORE ATTRIBUTES -->
        
<!-- gap -->
        <elementSpec ident="gap">
          <gloss>Gap details</gloss>
          <desc>Identifies missing folios in manuscript witnesses.</desc>
          <attList>
            <attDef ident="reason" mode="change">
              <defaultVal>missing-folio</defaultVal>
            </attDef>
            <attDef ident="quantity" usage="req" mode="add">
              <!-- numerical value -->
            </attDef>
          </attList>
        </elementSpec>
        
<!-- head -->
        <elementSpec ident="head">
          <attList>
            <attDef ident="type" mode="change"></attDef>
            <!-- how to eliminate all attributes? -->
          </attList>
        </elementSpec>      
        
<!-- l -->
        <elementSpec ident="l">
          <attList>
            <attDef ident="n"></attDef>
          </attList>
        </elementSpec>

<!-- lg -->
        <elementSpec ident="lg" module="core" mode="change">
          <attList>
            <attDef ident="type" mode="change">
              <defaultVal>laisse</defaultVal>
            </attDef>
            <attDef ident="n" mode="change"></attDef>
            <!-- 1.3.1.1.1 there is no requirement to record a value for either the xml:id or the n attribute -->
          </attList>
        </elementSpec>
        
<!-- note -->
        <elementSpec ident="note" module="core" mode="change">
          <attList>
            <attDef ident="xml:id" mode="change">
              <valList type="open" mode="change">
                <valItem ident=""></valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        <classSpec type="" ident=""></classSpec>
      </schemaSpec>
    </body>
  </text>
</TEI>
